#divEst{

    position: relative;
    margin-top: 400px;
    margin-right: 2px;
    float: right;
    /*    height:200px;*/
    width:250px; 
    background-color: floralwhite;

    color: #33ff00;
}

#tablestados
{
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    width:100%;
    border-collapse:collapse;
}

#tablestados td, #tablestados th
{
    font-size:11px;
    border:1px solid #98bf21;
    padding:3px 7px 2px 7px;
    font-family: Arial,Helvetica,sans-serif;
}
#tablestados th
{
    font-size:1.1em;
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
    background-color:#A7C942;
    color:#ffffff;
}
#tablestados tr.alt td
{
    color:#000000;
    background-color:#EAF2D3;
}